.footer {
    height: 630px;
    position: relative;
    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background-color: $main-color;
        padding: 50px 68px 60px 68px;
    }
    &__addr {
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        color: #ffffff;
        margin-bottom: 36px;
    }
    &__phone {
        display: block;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        color: #ffffff;
        margin-bottom: 25px;
        &:hover {
            color: #ffffff;
        }
    }
    &__social {
        width: 180px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }
    &__social-item {
        font-size: 40px;
        color: #ffffff;
        text-align: center;
        &:hover {
            color: #ffffff;
        }
    }
}