@media (max-width: 1200px) {

}
@media (max-width: 991px) {
    .promo {
        min-height: 450px;
        padding: 20px 20px;
        &__wrapper {
            margin-top: 50px;
        }
        &__header{
            font-size: 38px;
        }
        &__subheader {
            margin-top: 5px;
            font-size: 18px;
        }
        &__icons {
            margin-top: 20px;
        }
        &__link {
            margin-top: 10px;
            font-size: 12px;
        }
    }
    .button_main {
        margin-top: 20px;
        width: 220px;
        height: 40px;
        font-size: 12px;
    }
    .edge {
        min-height: 300px;
        padding: 20px 20px;
        &__icons {
            margin-top: 20px;
        }
        &__icon {
            width: 230px;
            font-size: 15px;
            img {
                margin-bottom: 15px;
            }
        }
        &__txt {
            margin-top: 15px;
            font-size: 12px;
        }
    }
    .consultation {
        min-height: 500px;
        padding: 50px 20px;
        &__descr {
            margin-top: 30px;
            font-size: 15px;
        }
    }
    .title_left {
        font-size: 30px;
    }
    .feed-form {
        margin-top: 30px;
        input {
            height: 40px;
        }
    }
    .button_submit {
        height: 40px;
        font-size: 14px;
    }
}