.reviews {
    min-height: 800px;
    padding-bottom: 71px;
    &__item {
        display: flex;
        padding: 0 60px 0 0;
        &:nth-child(2) {
            margin-top: 70px;
        }
    }
    img {
        width: 169px;
        height: 169px;
        margin-right: 60px;
    }
    hr {
        margin: 50px 0;
        border-bottom: none;
    }
    &__name {
        ont-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__info {
        margin-top: 10px;
        font-size: 14px;
        font-weight: 300;
        color: #646464;
    }
    &__desc {
        margin-top: 19px;
        font-size: 16px;
        font-weight: 300;
        color: #0d0d0d;
    }

}